html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row {
    padding: 5px;
}

.item {
    padding: 3px;
}

.pure-button {
    font-size: 16px;
    line-height: 16px;
}

pre .red {
    color: red;
}

.vjs-tree {
    font-size: 10px !important;
}